In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [5]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [6]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [7]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [11]:
inputs.dtypes

Pclass      int64
Age       float64
Fare      float64
female      uint8
male        uint8
dtype: object

In [12]:
inputs.isnull().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [13]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(5)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [14]:
inputs.isnull().sum()

Pclass    0
Age       0
Fare      0
female    0
male      0
dtype: int64

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)

In [16]:
len(X_train)

712

In [17]:
len(X_test)

179

In [18]:
len(inputs)

891

In [39]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [40]:
model.fit(X_train,y_train)

GaussianNB()

In [41]:
model.score(X_test,y_test)

0.8212290502793296

In [42]:
model.predict(X_test[:10])

array([0, 0, 1, 1, 0, 1, 1, 0, 0, 1])

In [43]:
model.predict_proba(X_test[:10])

array([[9.82967884e-01, 1.70321160e-02],
       [9.62474446e-01, 3.75255540e-02],
       [2.99315978e-02, 9.70068402e-01],
       [5.53171584e-02, 9.44682842e-01],
       [9.81564939e-01, 1.84350606e-02],
       [5.51408005e-10, 9.99999999e-01],
       [3.23486191e-02, 9.67651381e-01],
       [8.97927184e-01, 1.02072816e-01],
       [9.01928418e-01, 9.80715817e-02],
       [2.30197593e-02, 9.76980241e-01]])

In [56]:
from sklearn.model_selection import cross_val_score
import numpy as np

In [57]:
np.average(cross_val_score(GaussianNB(),inputs,target))

0.7845019145063085