In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/shahmdmesbahulislam/Documents/code/Data_Science_nd_ML/Machine Learning/carprices.csv")
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [3]:
df['Car Model'].unique()

array(['BMW X5', 'Audi A5', 'Mercedez Benz C class'], dtype=object)

In [5]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [6]:
feature_arr = ohe.fit_transform(df[['Car Model']]).toarray()
feature_arr

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [7]:
ohe.categories_

[array(['Audi A5', 'BMW X5', 'Mercedez Benz C class'], dtype=object)]

In [8]:
feature_labels = ohe.categories_

In [10]:
import numpy as np

In [11]:
feature_labels = np.array(feature_labels).ravel()
feature_labels

array(['Audi A5', 'BMW X5', 'Mercedez Benz C class'], dtype=object)

In [12]:
after_ohe=pd.DataFrame(feature_arr,columns=feature_labels)
after_ohe

    Audi A5  BMW X5  Mercedez Benz C class
0       0.0     1.0                    0.0
1       0.0     1.0                    0.0
2       0.0     1.0                    0.0
3       0.0     1.0                    0.0
4       0.0     1.0                    0.0
5       1.0     0.0                    0.0
6       1.0     0.0                    0.0
7       1.0     0.0                    0.0
8       1.0     0.0                    0.0
9       0.0     0.0                    1.0
10      0.0     0.0                    1.0
11      0.0     0.0                    1.0
12      0.0     0.0                    1.0

In [13]:
merged = pd.concat([df,after_ohe],axis='columns')
merged

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,0.0,1.0,0.0
1,BMW X5,35000,34000,3,0.0,1.0,0.0
2,BMW X5,57000,26100,5,0.0,1.0,0.0
3,BMW X5,22500,40000,2,0.0,1.0,0.0
4,BMW X5,46000,31500,4,0.0,1.0,0.0
5,Audi A5,59000,29400,5,1.0,0.0,0.0
6,Audi A5,52000,32000,5,1.0,0.0,0.0
7,Audi A5,72000,19300,6,1.0,0.0,0.0
8,Audi A5,91000,12000,8,1.0,0.0,0.0
9,Mercedez Benz C class,67000,22000,6,0.0,0.0,1.0
10,Mercedez Benz C class,83000,20000,7,0.0,0.0,1.0
11,Mercedez Benz C class,79000,21000,7,0.0,0.0,1.0
12,Mercedez Benz C class,59000,33000,5,0.0,0.0,1.0

In [14]:
final = merged.drop(['Car Model','Mercedez Benz C class'],axis='columns')
final

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0     69000          18000         6      0.0     1.0
1     35000          34000         3      0.0     1.0
2     57000          26100         5      0.0     1.0
3     22500          40000         2      0.0     1.0
4     46000          31500         4      0.0     1.0
5     59000          29400         5      1.0     0.0
6     52000          32000         5      1.0     0.0
7     72000          19300         6      1.0     0.0
8     91000          12000         8      1.0     0.0
9     67000          22000         6      0.0     0.0
10    83000          20000         7      0.0     0.0
11    79000          21000         7      0.0     0.0
12    59000          33000         5      0.0     0.0

In [16]:
X = final.drop('Sell Price($)',axis='columns')
X = X.values
X

array([[6.90e+04, 6.00e+00, 0.00e+00, 1.00e+00],
       [3.50e+04, 3.00e+00, 0.00e+00, 1.00e+00],
       [5.70e+04, 5.00e+00, 0.00e+00, 1.00e+00],
       [2.25e+04, 2.00e+00, 0.00e+00, 1.00e+00],
       [4.60e+04, 4.00e+00, 0.00e+00, 1.00e+00],
       [5.90e+04, 5.00e+00, 1.00e+00, 0.00e+00],
       [5.20e+04, 5.00e+00, 1.00e+00, 0.00e+00],
       [7.20e+04, 6.00e+00, 1.00e+00, 0.00e+00],
       [9.10e+04, 8.00e+00, 1.00e+00, 0.00e+00],
       [6.70e+04, 6.00e+00, 0.00e+00, 0.00e+00],
       [8.30e+04, 7.00e+00, 0.00e+00, 0.00e+00],
       [7.90e+04, 7.00e+00, 0.00e+00, 0.00e+00],
       [5.90e+04, 5.00e+00, 0.00e+00, 0.00e+00]])

In [17]:
y = final['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [18]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [19]:
model.fit(X,y)

LinearRegression()

In [20]:
model.predict([[45000,4,0,0]])

array([36991.31721061])

In [21]:
model.predict([[86000,7,0,1]])

array([11080.74313219])

In [22]:
model.score(X,y)

0.9417050937281083